<div class="calc-main-info">
    <div class="calc-interface">
        <calc-select-loan-type [(paymentTypeVal)]="loanCalc.loanPaymentType"></calc-select-loan-type>
        <div class="calc-number-field-containter">
            <calc-number-field 
            [labelText]="loanCalc.loanAmount.label"
            [(numberValue)]="loanCalc.loanAmount.value"></calc-number-field>
            <calc-number-field 
            [labelText]="loanCalc.loanPeriodMonths.label"
            [(numberValue)]="loanCalc.loanPeriodMonths.value"></calc-number-field>
            <calc-number-field [labelText]="loanCalc.annualInterestRate.label"
            [(numberValue)]="loanCalc.annualInterestRate.value"></calc-number-field>
        </div>
    </div>
    <loan-info [monthlyPayment]="loanCalc.monthlyPayment"
    [totalAmountPayments]="loanCalc.totalAmountPayments"
    [totalAmountOverpayments]="loanCalc.totalAmountOverpayments"
    [paymentType]="loanCalc.loanPaymentType"></loan-info>
</div>
<differentiated-payments-info *ngIf="loanCalc.loanPaymentType != 'annuity'"
[dirrerentiedPayments]="loanCalc.differentedLoanPayment"></differentiated-payments-info>