<table class="dirrerentied-payments-table" border="1">
    <tr>
        <th class="dirrerentied-payments-head">Date</th>
        <th class="dirrerentied-payments-head">Payment</th>
    </tr>
    <tr *ngFor="let payment of dirrerentiedPayments;let index = i;">
        <td class="dirrerentied-payments-value dirrerentied-payments-date">{{ payment.date | date:'MM/dd/yyyy' }}</td>
        <td class="dirrerentied-payments-value dirrerentied-payments-amount">{{ payment.payment | currency:'USD':'symbol':'1.1-3' }}</td>
    </tr>
</table>