:host
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.loan-info-property
{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loan-info-label::after
{
    content: ":";
}

.loan-info-value
{
    width: 30%;
}

.loan-info-label
{
    width: 60%;
}

@media screen and (min-width: 1300px)
{
    :host
    {
        width: 40%;
        height: 100%;
    }

    .loan-info-property
    {
        flex-direction: row;
    }
}

@media screen and (min-width: 600px) and (max-width: 1300px)
{
    :host
    {
        width: 40%;
        height: 100%;
    }

    .loan-info-property
    {
        flex-direction: column;
    }

    .loan-info-property > *
    {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 600px)
{
    :host
    {
        width: 100%;
        height: 40%;
    }

    .loan-info-property
    {
        flex-direction: column;
    }

    .loan-info-property > *
    {
        width: 100%;
        text-align: center;
    }
}