<div class="loan-info-property">
    <div class="loan-info-label loan-calculator-text-color">{{ monthlyPaymentLabel }}</div>
    <div class="loan-info-value loan-calculator-data-numbers">{{ monthlyPayment | currency:'USD':'symbol':'1.1-3' }}</div>
</div>
<div class="loan-info-property">
    <div class="loan-info-label loan-calculator-text-color">{{ totalAmountPaymentsLabel }}</div>
    <div class="loan-info-value loan-calculator-data-numbers">{{ totalAmountPayments | currency:'USD':'symbol':'1.1-3' }}</div>
</div>
<div class="loan-info-property">
    <div class="loan-info-label loan-calculator-text-color">{{ totalAmountOverpaymentsLabel }}</div>
    <div class="loan-info-value loan-calculator-data-numbers">{{ totalAmountOverpayments | currency:'USD':'symbol':'1.1-3' }}</div>
</div>