:host
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.loan-info-property
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loan-info-label::after
{
    content: ":";
}

@media screen and (min-width: 1300px)
{
    :host
    {
        width: 40%;
        height: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1300px)
{
    :host
    {
        width: 40%;
        height: 100%;
    }
}

@media screen and (max-width: 600px)
{
    :host
    {
        width: 100%;
        height: 40%;
    }
}