<div class="loan-info-property">
    <span class="loan-info-label">{{ monthlyPayment.label }}</span>
    <span class="loan-info-value">{{ monthlyPayment.numberValue | currency:'USD':'symbol':'1.1-1' }}</span>
</div>
<div class="loan-info-property">
    <span class="loan-info-label">{{ totalAmountPayments.label }}</span>
    <span class="loan-info-value">{{ totalAmountPayments.numberValue | currency:'USD':'symbol':'1.1-1' }}</span>
</div>
<div class="loan-info-property">
    <span class="loan-info-label">{{ totalAmountOverpayments.label }}</span>
    <span class="loan-info-value">{{ totalAmountOverpayments.numberValue | currency:'USD':'symbol':'1.1-1' }}</span>
</div>