<div class="loan-info-property">
    <span class="loan-info-label">{{ monthlyPaymentLabel }}</span>
    <span class="loan-info-value">{{ monthlyPayment | currency:'USD':'symbol':'1.1-1' }}</span>
</div>
<div class="loan-info-property">
    <span class="loan-info-label">{{ totalAmountPaymentsLabel }}</span>
    <span class="loan-info-value">{{ totalAmountPayments | currency:'USD':'symbol':'1.1-1' }}</span>
</div>
<div class="loan-info-property">
    <span class="loan-info-label">{{ totalAmountOverpaymentsLabel }}</span>
    <span class="loan-info-value">{{ totalAmountOverpayments | currency:'USD':'symbol':'1.1-1' }}</span>
</div>