:host
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field-label::after
{
    content: ":";
}

@media screen and (min-width: 1300px)
{
    :host
    {
        --font-size: 18px;
        width: 90%;
    }

    .field-inp
    {
        font-size: var(--font-size);
    }
}

@media screen and (min-width: 600px) and (max-width: 1300px)
{
    :host
    {
        --font-size: 20px;
        width: 90%;
    }

    .field-inp
    {
        font-size: var(--font-size);
    }
}

@media screen and (max-width: 600px)
{
    :host
    {
        --font-size: 22px;
        width: 100%;
    }

    .field-inp
    {
        font-size: var(--font-size);
    }
}