:root
{
    --label-pc-size: 17px;
}

:host
{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.field-label::after
{
    content: ":";
}

@media screen and (min-width: 1300px)
{
    .field-label
    {
        font-size: var(--label-pc-size);
    }
}