:host
{
    display: flex;
    justify-content: space-between;
}

.field-label::after
{
    content: ":";
}

@media screen and (min-width: 1000px)
{
    :host
    {
        flex-direction: row;
        align-items: center;
        width: 90%;
    }

    .field-inp
    {
        font-size: 18px;
        width: 60%;
    }

    .field-label
    {
        width: 30%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px)
{
    :host
    {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .field-inp
    {
        width: 60%;
        font-size: 20px;
    }

    .field-label
    {
        width: 30%;
    }
}

@media screen and (max-width: 500px)
{
    :host
    {
        flex-direction: column;
        align-items: flex-start;
        height: 15%;
        width: 100%;
        
    }

    .field-inp
    {
        font-size: 22px;
        width: 100%;
    }

    .field-label
    {
        width: 70%;
    }
}